bin/
hl2/
platform/
steam_appid.txt
tf.sh
tf_linux64
tf_linux64_d3d9.log
thirdpartylegalnotices.txt
*.vpk
tf/cfg/360controller-linux.cfg
tf/cfg/360controller.cfg
tf/cfg/chapter1.cfg
tf/cfg/chapter2.cfg
tf/cfg/chapter3.cfg
tf/cfg/config.cfg
tf/cfg/config_default.cfg
tf/cfg/jump.cfg
tf/cfg/mapcycle_beta_asteroid.txt
tf/cfg/mapcycle_beta_cactus_canyon.txt
tf/cfg/mapcycle_beta_mannpower.txt
tf/cfg/mapcycle_default.txt
tf/cfg/mapcycle_doomsday_event_247.txt
tf/cfg/mapcycle_featured_maps.txt
tf/cfg/mapcycle_halloween.txt
tf/cfg/mapcycle_halloween_event_247.txt
tf/cfg/mapcycle_hightower_event_247.txt
tf/cfg/mapcycle_invasion_maps.txt
tf/cfg/mapcycle_ladder.txt
tf/cfg/mapcycle_lakeside_event_247.txt
tf/cfg/mapcycle_mannpower.txt
tf/cfg/mapcycle_quickplay_arena.txt
tf/cfg/mapcycle_quickplay_attackdefense.txt
tf/cfg/mapcycle_quickplay_cp.txt
tf/cfg/mapcycle_quickplay_ctf.txt
tf/cfg/mapcycle_quickplay_koth.txt
tf/cfg/mapcycle_quickplay_misc.txt
tf/cfg/mapcycle_quickplay_passtime.txt
tf/cfg/mapcycle_quickplay_payload.txt
tf/cfg/mapcycle_quickplay_payloadrace.txt
tf/cfg/motd_default.txt
tf/cfg/motd_entries.txt
tf/cfg/motd_text_default.txt
tf/cfg/mtp.cfg
tf/cfg/pure_server_full.txt
tf/cfg/pure_server_minimal.txt
tf/cfg/pure_server_whitelist_example.txt
tf/cfg/replay_example.cfg
tf/cfg/server_247_mannpower.cfg
tf/cfg/server_247_rounds.cfg
tf/cfg/server_blacklist.txt
tf/cfg/server_bootcamp.cfg
tf/cfg/server_casual.cfg
tf/cfg/server_casual_max_rounds_win_conditions.cfg
tf/cfg/server_casual_max_rounds_win_conditions_custom.cfg
tf/cfg/server_casual_max_rounds_win_conditions_mannpower.cfg
tf/cfg/server_casual_rounds_win_conditions.cfg
tf/cfg/server_casual_stopwatch_win_conditions.cfg
tf/cfg/server_competitive.cfg
tf/cfg/server_competitive_max_rounds_win_conditions.cfg
tf/cfg/server_competitive_max_rounds_win_conditions_high_skill.cfg
tf/cfg/server_competitive_rounds_win_conditions.cfg
tf/cfg/server_competitive_rounds_win_conditions_high_skill.cfg
tf/cfg/server_competitive_stopwatch_win_conditions.cfg
tf/cfg/server_competitive_stopwatch_win_conditions_high_skill.cfg
tf/cfg/server_custom.cfg
tf/cfg/server_limited_rounds.cfg
tf/cfg/server_limited_time.cfg
tf/cfg/server_mannup.cfg
tf/cfg/server_matchmaking_base.cfg
tf/cfg/server_mvm.cfg
tf/cfg/server_net_chan_extend.cfg
tf/cfg/settings.scr
tf/cfg/sfm_defaultanimationgroups.txt
tf/cfg/sixense_bindings.cfg
tf/cfg/sourcevr_tf.cfg
tf/cfg/trusted_keys_base.txt
tf/cfg/trusted_keys_example.txt
tf/cfg/undo360controller.cfg
tf/cfg/vscript_convar_allowlist.txt
tf/demoheader.tmp
tf/demos/
tf/download/
tf/gameinfo.txt
tf/gamestate.txt
tf/glshaders.cfg
tf/item_whitelist_example.txt
tf/maps/
tf/materials/
tf/media/
tf/modelsounds.cache
tf/resource/
tf/scripts/
tf/serverconfig.vdf
tf/sound/
tf/sound_workshop/
tf/stats.txt
tf/steam.inf
tf/tf2_misc.vpk.sound.cache
tf/tf2_playerstats.dmx
tf/tf2_sound_misc.vpk.sound.cache
tf/tf2_sound_vo_english.vpk.sound.cache
tf/tf2_textures.vpk.sound.cache
tf/trainingprogress.txt
tf/videoconfig_linux.cfg
tf/voice_ban.dt
tf/workshop/
Agent
overrides/modules.cfg
tf/cfg/overrides/modules.cfg
